page {
  position: relative;
  height: 100%; /* 페이지 전환을 위한 높이 */

  min-height: 100vh;
}

.current-page,
.next-page {
  position: absolute;
  top: 0;
  min-height: 100vh;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.next-page {
  transform: translateY(100%);
}

.page.show-next-page .current-page {
  transform: translateY(-100%);
}

.page.show-next-page .next-page {
  transform: translateY(0%);
}

.searchBarBackground {
  background-image: url("../../assets/images/searchbar.png");
  background-size: 100% 100%;

  background-color: transparent;
  outline: none;
  color: black;
}

.hidden-initially {
  visibility: hidden; /* 초기에는 숨깁니다. */
  opacity: 0; /* 보이지 않게 합니다. */
  overflow: hidden; /* 내용이 넘칠 경우 숨깁니다. */
  min-height: 100vh; /* 요소가 최소한 뷰포트 높이만큼은 차지하도록 합니다. */
}

.visible-on-scroll {
  visibility: visible; /* 스크롤 시 보이게 합니다. */
  opacity: 1; /* 완전히 보이게 합니다. */
  height: auto; /* 내용에 맞게 높이를 조정합니다. */
}

.whereshadow {
  box-shadow: 6px 17px 4px 9px rgba(0, 0, 0, 0.25);
}
